@mixin at-least($device-width) {
    @media screen and (min-width: $device-width) {
        @content;
    }
}

@mixin at-most($device-width) {
    @media screen and (max-width: $device-width) {
        @content;
    }
}

@import "tiles";
@import "clocks";
@import "twitter";
@import "concentric";

body {
    font-family:  serif;
    font-family: "helvetica neue", serif;
}

.index {

    width: 800px;
    margin: auto;
    padding: 25px;
    background-color: tomato;
    text-align: center;

    a {
        padding: 14px 28px;

        height: 200px;
        width: 300px;
        margin: 12px;
        border: 2px solid white;
        color: white;
        display: inline-block;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;

        span {
            position: absolute;
            bottom: 5%;
            right: 4%;
            transition: bottom 0.2s ease-out;
        }

        &:hover {
            background-color: white;
            color: tomato;

            span {
                bottom: 45%;
            }
        }
    }
}
