.tiles {
    .container {
        // border: 1px solid purple;
        background-color: #222;
        margin: 200px auto;

    }

    .tile {
        // height: 200px;
        // width: 300px;
        // margin: 300px auto;
        position: relative;
        float: left;
        cursor: pointer;
        transform-style: preserve-3d;
        perspective: 800px;
        margin-right: -1px;
        margin-bottom: -1px;
        // border: 1px solid orange;


        .target {
            // border: 1px solid orange;
            position: absolute;

            &.top, &.bottom {
                height: 30%;
            }

            &.left, &.right {
                width: 30%;
            }

            &.top {
                top:0;
                left:3%;
                right:3%;
            }
            &.left {
                top: 3%;
                bottom: 3%;
                left: 0;
            }
            &.right {
                top: 3%;
                bottom: 3%;
                right: 0;
            }
            &.bottom {
                left:3%;
                right:3%;
                bottom: 0;
            }
        }

        &
        // .enter-bottom {
        //     .front {
        //         transform: rotateX(180deg);
        //     }

        //     .back {
        //         transform: rotateX(0deg);

        //     }
        // }

        .front, .back {
            // height: 200px;
            // width: 300px;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            // font-size: 3em;
            overflow: none;
            border: 1px solid lightgray;
            box-sizing: border-box;
            // padding-top: 70px;
            transition: transform 1s;
            backface-visibility: hidden;
            pointer-events: none;

        }

        .front {
            background-color: white;
            // width: 150px;
            transform: rotateX(0deg) rotateY(0deg);
            // display: none;
        }

        .back {
            background-color: #333;
            color: white;
            transform: rotateX(180deg) rotateY(0deg);
            // width: 150px;
            // margin-left: 150px;
            // display: none;
        }
    }
}
